<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>管理者ホームページ</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
	<!-- ヘッダ -->
	<span th:replace="headerAdmin"></span>

	<main class="container mb-6">
		<!--		<h4>管理者ページ</h4>-->
		<!-- 管理者ページ -->
		<span th:replace="spanAdmin"></span>
		<form method="get" action="/admin/account">
			<button>アカウント一覧</button>
		</form>
		<br>
		<form method="get" action="/admin/category">
			<button>カテゴリー一覧</button>
		</form>
	</main>

</body>

</html>