<header>
<!--	<div class="container text-center bg-info text-white" >-->
	<div class="container text-center bg-info text-white" >
		<div class="row justify-content-center">
			<div class="col-3"></div>
				
			<div class="col-6">	
				<div >
					<h1><a href="/thread" style="color: aliceblue;">掲示板</h1>
				</div>
			</div>
			
			<div class="col-3">
				<div class="container" >
					<div class="row">
						<div class="col justify-content-end">
							<a href="/user/setting/account" style="color: aliceblue;">ユーザ設定</a>
						</div>
					</div>
					<div class="row">
						<div class="col justify-content-end">
							ログイン中：「[[${@guestModel.name}]]」
							<a href="/logout" style="color: aliceblue;">ログアウト</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				
</header>
<!--		<div class="row justify-content-center">-->
<!--			<div >-->
<!--				<h1><a href="/thread">掲示板</h1>-->
<!--			</div>-->
<!--		</div>-->
			
<!--	 ユーザの設定用リンク  -->
<!--	<a href="/user/setting/account">ユーザ設定</a>-->
<!--	<br>-->
	
<!--	 セッションを用いた表示  -->
<!--	ログイン中：「[${@guestModel.name}]]」-->
<!--	 ログアウト用リンク  -->
<!--	<a href="/logout">ログアウト</a>-->
<!--</header>-->