<header>
	<div class="container text-center bg-info text-white">
		<div class="row justify-content-center">
			<div class="col-4"></div>

			<div class="col-4">
				<div>
					<h1><a href="/admin/home"></a>掲示板（管理者）</h1>
				</div>
			</div>

			<div class="col-4">
				<div class="container">
					<div class="row">
						<div class="col justify-content-end">

							ログイン中：「[[${@hostModel.name}]]」
							<a href="/admin/logout" style="color: aliceblue;">ログアウト</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<hr>