<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div class="container">
		<div class="row text-left">
	<!--アカウント情報リンク-->
	<a href="/user/setting/account" class="btn btn-outline-primary me-2 px-4 mx-2" style="color: blueviolet;">アカウント</a>
	<!--ニックネーム変更リンク-->
	<a href="/user/setting/name" class="btn btn-outline-primary me-2 px-4 mx-2" style="color: blueviolet;">
		<i class="bi bi-pen"></i>&nbspニックネーム変更</a>
	<!--メールアドレス変更リンク-->
	<a href="/user/setting/email" class="btn btn-outline-primary me-2 px-4 mx-2" style="color: blueviolet;">
		<i class="bi bi-envelope"></i>&nbspメールアドレス変更</a>
	<!--パスワード変更リンク-->
	<a href="/user/setting/password" class="btn btn-outline-primary me-2 px-4 mx-2" style="color: blueviolet;">
		<i class="bi bi-key"></i>&nbspパスワード変更</a>
		</div>
	</div>
</nav>