<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div class="container">
		<div class="row text-left">
<!--			<div class="col-4">-->
				<a href="/thread/add" class="btn btn-outline-primary me-2 px-4 mx-2" style="color: blueviolet;">スレッド作成</a>				
<!--			</div>-->
<!--			<div class="col-4">-->
				<a href="/thread/mythread" class="btn btn-outline-primary me-2 px-4 mx-2" style="color: blueviolet;">作成したスレッド</a>				
<!--			</div>-->
<!--			<div class="col-4">-->
				<a href="/comment" class="btn btn-outline-primary me-2 px-4 mx-2" style="color: blueviolet;">投稿したコメント</a>				
<!--			</div>	-->
		</div>
	</div>
	
<!--	<a href="/thread/add">新規スレッドを作成</a>-->
<!--	<a href="/thread/mythread">作成したスレッド</a>-->
<!--	<a href="/comment">投稿したコメント</a>-->
</nav>