<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ユーザー設定</title>
</head>
<body>
	<!--ヘッダー-->
	<span th:replace="header"></span>
	<hr>

	<main>
		<!--ナビ-->
		<span th:replace="navSettingAccount"></span>
		<hr>

		<h4>パスワード変更</h4>
		
		<!-- エラー用ナビ -->
		<span th:replace="navError"></span>
		
		<!--パスワード変更フォーム-->
		<form method="post" action="/user/setting/password">
			<table border="1">
				<tr>
					<th>現在のパスワード</th>
					<td>
						<input type="password" name="oldPassword">
					</td>
				</tr>
				<tr>
					<th>新しいパスワード</th>
					<td>
						<input type="password" name="password">
					</td>
				</tr>
				<tr>
					<th>新しいパスワード（確認）</th>
					<td>
						<input type="password" name="passwordConfirm">
					</td>
				</tr>
			</table>
			
			<button>変更</button>
		</form>
		
	</main>

</body>
</html>