<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ユーザー設定</title>
</head>
<body>
	<!-- ヘッダ -->
	<span th:replace="header"></span>
	
	<hr>

	<main>
		<!--ナビ-->
		<span th:replace="navSettingAccount"></span>
		<hr>

		<h4>アカウント</h4>
		
		<!-- エラー用ナビ -->
		<span th:replace="navError"></span>
		
		<!--アカウント情報-->
		<table border="1">
			<tr>
				<th>ニックネーム</th>
				<td>[[${guest.name}]]</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>[[${guest.email}]]</td>
			</tr>
		</table>
		
		<form method="post" action="/user/setting/delete">
			<button>退会</button>
		</form>
	</main>
</body>
</html>