<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ユーザー設定</title>
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<!-- ヘッダ -->
	<span th:replace="header"></span>
	
	<hr>

	<main>
		<!--ナビ-->
		<span th:replace="navSettingAccount"></span>
		<hr>

		<h4>アカウント</h4>
		
		<!-- エラー用ナビ -->
		<span th:replace="navError"></span>
		
		<!--アカウント情報-->
		<table border="1">
			<tr>
				<th>ニックネーム</th>
				<td>[[${guest.name}]]</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>[[${guest.email}]]</td>
			</tr>
		</table>
		
		<form method="post" action="/user/setting/delete" id="deleteForm">
			<button type="button" th:onclick="|submitCheck()|">退会</button>
		</form>
	</main>
	
	<script>
		function submitCheck(){
			if(window.confirm('本当に退会してもよろしいですか？')){
				$('#deleteForm').submit();
				//return true; 自動でtrue返信してくれるから記述いらない
			}else{
				//window.alert(`キャンセル`)
				//return false; 自動でtrue返信してくれるから記述いらない
			}
		}
			
	</script>
</body>
</html>