<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>掲示板</title>
</head>
<body>
	<!--  -->
	<!-- ヘッダ -->
	<span th:replace="header"></span>
	<hr>
	
	<!-- ナビ -->
	<span th:replace="navThread"></span>
	<hr>
	
	<!-- 絞り込みリンク -->
	<a href="/thread">全て</a>

	<th:block th:each="category:${categoryList}">
		<a th:href="|/thread?categoryId=${category.id}|">[[${category.name}]]</a>
	</th:block>
	
	<!-- ソート類 -->
	
	<!-- 一覧 -->
	<p th:if="${threadDisplay == null || threadDisplay.size() == 0}">投稿されたスレッドはありません</p>
	

	
	<table border="1" th:if="${threadDisplay != null && threadDisplay.size() > 0}">
		<th:block th:each="thread : ${threadDisplay}">
		
		<tr>
			<th rowspan="4"><a th:href="|/thread/${thread.id}/detail|">[[${thread.title}]]</a></th>			
		</tr>
		<tr>
			<td align="right">[[${thread.categoryName}]]</td>
		</tr>
		<tr>
			<!-- Userで、SQL文検索 -->
			<!-- 　→ User で、IDによって絞る -->
			<!-- 　　→ nameの取得 -->
			<td align="right">作成者：[[${thread.creator}]]</td>
		</tr>
		<tr>
			<!-- 更新時間→　Comment で、SQL文検索 -->
			<!-- 　→ IDで絞る -->
			<!-- 　　→ Max 関数で最新時間の取得 -->
			<td align="right">最終更新時間：[[${thread.createDate}]]</td>
		</tr>
		</th:block>
		
	</table>
	
</body>
</html>