<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>掲示板詳細</title>
</head>
<body>
	<!-- ヘッダ -->
	<span th:replace="header"></span>
	
	<table>
		<tr>
			<th>「[[${thread.title}]]」</th>
			<td>カテゴリ：[[${thread.categoryId}]]</td>
			<td>作成者：</td>
			<td>スレッド作成日：</td>
			<td>最終更新時間：</td>
			<td>内容：[[${thread.body}]]</td>
		</tr>
	</table>
	
	<br>
	
	<form method="get" th:action="|/comment/${thread.id}/add|">
		<button>コメント投稿</button>
	</form>
	
	<table>
		<tr th:each="comment:${commentDbDate}">
			<td>[${comment.name}]]</td>
			<td>[[${comment.body}]]</td>
			<td th:if="${comment.userId == @guestModel.id}">
				<a th:href="|/comment/${comment.id}/edit|">編集</a>
			</td>
		</tr>
	</table>

</body>
</html>