<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>掲示板</title>
</head>
<body>
	<!--  -->
	<!-- ヘッダ -->
	<span th:replace="header"></span>
	
	<!-- ナビ -->
	<span th:replace="navThread"></span>
	
	<!-- 絞り込みリンク -->
	<a href="/thread">全て</a>

	<th:block th:each="category:${categoryList}">
		<a th:href="|/thread?categoryId=${category.id}|">[[${category.name}]]</a>
	</th:block>
	
	<!-- ソート類 -->
	
	<!-- 一覧 -->
	
	<table border="1">
		<tr th:each="thread : ${threadList}">
			<th rowspan="4"><a href="">[[${thread.title}]]</a></th>			

			<td align="right">[[${thread.categoryId}]]</td>

			<td align="right">作成者：</td>

			<td align="right">最終更新時間：</td>
		</tr>
		
	</table>
	
	<table border="1">
		<th:block th:each="thread : ${threadList}">
		
		<tr>
			<th rowspan="4"><a th:href="|/thread/${thread.id}/detail|">[[${thread.title}]]</a></th>			
		</tr>
		<tr>
			<td align="right">[[${thread.categoryId}]]</td>
		</tr>
		<tr>
			<!-- Userで、SQL文検索 -->
			<!-- 　→ User で、IDによって絞る -->
			<!-- 　　→ nameの取得 -->
			<td align="right">作成者：</td>
		</tr>
		<tr>
			<!-- 更新時間→　Comment で、SQL文検索 -->
			<!-- 　→ IDで絞る -->
			<!-- 　　→ Max 関数で最新時間の取得 -->
			<td align="right">最終更新時間：</td>
		</tr>
		</th:block>
		
	</table>
	
</body>
</html>