<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>掲示板詳細</title>
</head>
<body>
	<!-- ヘッダ -->
	<span th:replace="header"></span>
	<!-- ナビ -->
	<span th:replace="navThread"></span>
	
	<table>
		<tr>
			<th>「[[${thread.title}]]」</th>
			<td>カテゴリ：[[${thread.categoryName}]]</td>
			<td>作成者：[[${thread.creator}]]</td>
			<td>スレッド作成日：[[${thread.createDate}]]</td>
			<td>最終更新時間：[[${thread.lastUpdateDate}]]</td>
			<td>内容：[[${thread.body}]]</td>
		</tr>
	</table>
	
	<br>
	
	<form method="get" th:action="|/comment/${thread.id}/add|">
		<button>コメント投稿</button>
	</form>
	
	<table>
		<tr th:each="comment:${commentList}">
			<td>[[${comment.commentCreator}]]</td>
			<td>[[${comment.commentBody}]]</td>
			<td th:if="${comment.commentCreatorId == @guestModel.id}">
				<a th:href="|/comment/${comment.id}/edit|">編集</a>
			</td>
		</tr>
	</table>

<!--	<form method="get" th:action="|/comment/${thread.id}/add|">-->
<!--		<button>コメント投稿</button>-->
<!--	</form>-->
	
<!--	<table>-->
<!--		<tr th:each="comment:${commentDto}">-->
<!--			<td>[${comment.name}]]</td>-->
<!--			<td>[${comment.body}]]</td>-->
<!--			<td th:if="${comment.userId == @guestModel.id}">-->
<!--				<a th:href="|/comment/${comment.commentId}/edit|">編集</a>-->
<!--			</td>-->
<!--		</tr>-->
<!--	</table>-->

</body>
</html>